.btn-outline-success {
  color: gray;
  border-color: black;
  background-color: black;
}

.btn-outline-success:hover {
  color: white;
  border-color: black;
  background-color: black;
}

.navbar-brand {
  font-weight: 700;
}

.card {
  max-width: 100%;
}

footer {
  background-color: black;
  color: white;
}

.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}

.second-line a:hover {
  color: burlywood;
}

.third-line{
  display:none
}

@media screen and (max-width:48rem){
  .first-line {text-align:center;
}

@media screen and (max-width:48rem){
  .second-line {
    padding-left:2rem;
    padding-right:2rem;
}

.button-style:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;